<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="assets/css/task-style.css">
	<!-- Materialize CSS framework -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- FONT AWESOME -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
	 crossorigin="anonymous">
	<link rel="shortcut icon" href="assets/images/bullseye.png" />
	<title>Doable</title>
</head>

<body>

	<nav>
		<div class="nav-wrapper">

			<a href="#" class="brand-logo"><img src="assets/images/DOABLE3.png" alt="logo" height="55px" width="190px"></a>
			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a class="waves-effect waves-light #33691e light-green darken-4 btn modal-trigger" href="#modal1">
						LOGIN/SIGN UP
					</a></li>
				<li><a class="waves-effect waves-light #33691e light-green darken-4 btn modal-trigger" href="#modal2">
						BECOME A DOER
					</a>
				</li>
				<li><a href="#how">HOW IT WORKS</a></li>
				<li><a href="#testimonials">TESTIMONIALS</a></li>
				<li><a href="#contact">CONTACT</a></li>
			</ul>
		</div>
	</nav>

	<ul class="sidenav" id="mobile-demo">
		<li><a class="waves-effect waves-light #33691e light-green darken-4 btn modal-trigger" href="#modal1">
				LOGIN/SIGN UP
			</a></li>
		<li><a class="waves-effect waves-light #33691e light-green darken-4 btn modal-trigger" href="#modal2">
				BECOME A DOER
			</a>
		</li>
		<li><a href="#how">HOW IT WORKS</a></li>
		<li><a href="#testimonials">TESTIMONIALS</a></li>
		<li><a href="#contact">CONTACT</a></li>
	</ul>

	<!-- Modal Structure LOGIN/SIGNUP -->
	<div id="modal1" class="modal">
		<div class="modal-content">
			<h2>Log in</h2>
			<form class="col s12">
				<div class="row">
					<div class="input-field col s6">
						<i class="material-icons prefix">email</i>
						{{!-- <label for="email-login">Email</label> --}}
						<input id="email-login" type="email" class="validate">
						<label for="email-login">Email</label>
					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">lock</i>
						{{!-- <label for="password-login">Password</label> --}}
						<input id="password-login" type="password" class="validate">
						<label for="password-login">Password</label>
					</div>
			</form>
		</div>
		<h5>If you don't already have an account, create an account <a class="waves-effect waves-light #33691e light-green darken-4 btn modal-trigger"
			 href="#modal2">here.</a>
		</h5>
	</div>
	{{!-- test --}}
	{{!-- <button onclick="location.href='http://www.google.com'" type="button">
		www.google.com</button> --}}

	<div class="modal-footer">
		<button href="/user" class="modal-close waves-effect waves-green btn-flat" id="login-button">Sign in</button>
	</div>
	</div>

	<!-- Modal 2 Structure CREATE -->
	<div id="modal2" class="modal">
		<div class="modal-content">
			<h2>Become a Doer</h2>
			<div class="row">
				<form class="col s12">
					<div class="row">
						<div class="input-field col s6">
							<i class="material-icons prefix">account_circle</i>
							<input id="new-name" type="text" class="validate">
							<label for="new-name">Name</label>
						</div>
						<div class="input-field col s6">
							<i class="material-icons prefix">phone</i>
							<input id="new-contact" type="tel" class="validate">
							<label for="new-contact">Telephone</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<i class="material-icons prefix">email</i>
							{{!-- <label for="new-email">Email</label> --}}
							<input id="new-email" type="email" class="validate">
							<label for="new-email">Email</label>
						</div>
						<div class="input-field col s6">
							<i class="material-icons prefix">lock</i>
							{{!-- <label for="new-password">Password</label> --}}
							<input id="new-password" type="password" class="validate">
							<label for="new-password">Password</label>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<button id="sign-up" class="modal-close waves-effect waves-green btn-flat">Create your account</button>
		</div>
	</div>

	<div class="parallax-container">
		<div class="parallax">
			<img src="assets/images/green.jpg" alt="background" />
		</div>
		<div class="iris">
			<div class="card transparent z-depth-5">
				<div class="search">
					<h1>Find a Doer</h1>
					<input class="searchbar #ffffff white" type="text" placeholder="  What do you need done?">
					<button id="search-tasks" class="btn waves-effect waves-light btn-medium #4caf50 green modal-trigger" type="submit" name="action" href="#modal3">
						<i class="fas fa-search"></i>
					</button>

					<!-- Modal Trigger -->
					{{!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal3">Modal</a> --}}

					<!-- Modal Structure -->
					<div id="modal3" class="modal">
						<div class="modal-content">
							<h5>Search Results:</h5>
							{{!-- <p class="searchdoer">A bunch of text</p> --}}
						</div>
						<div class="modal-footer">
							<a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{{body}}}

	{{!-- JS & JQUERY --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<!-- Custom Script -->
	<script src="assets/js/view.js"></script>

</body>

</html>