<section id="how">
    <div class="header">
        <h2>How it Works</h2>
    </div>

    <div class="row">

        <div class="col s4">
            <span class="card-title">Step One:</span>
            <img src="assets/images/user.png" class="steps" alt="user" />

            <p class="stepsContent">The first step is to become a member of Doable. Being a member at
                Doable you're able to be a Hirer where you post miscellaneous jobs you may need done or
                Doer where you're your boss to do those jobs. You get to have the best of both worlds.</p>
        </div>
        <div class="col s4">
            <span class="card-title">Step Two:</span>
            <img src="assets/images/checklist.png" class="steps" alt="job" />

            <p>After you log on, you can choose your customized view as a Hirer or a Doer at any time.
                As a
                Hirer, you will be able to post a job you would like to get done. As a Doer, you will
                be
                able to look for jobs </p>
        </div>
        <div class="col s4">
            <span class="card-title">Step Three:</span>
            <img src="assets/images/moolah.png" class="steps" alt="job" />

            <p>After, getting a doer to do a job for you at the rate you choose. You get to SAVE
                MONEY,
                and
                who doesn't like that. Doers as long as you complete thee job in a timely manner
                and to
                their Hirer's expectations you get to make your side hustle your main hustle.</p>
        </div>

    </div>
    <div class='arrow'>
        <a href="/"><i class="large material-icons icon-blue">arrow_drop_up</i></a>
    </div>
</section>

<section id="testimonials">
    <div class="header">
        <h3>Testimonials</h3>
    </div>

        <div class="testimonials-container">

            <div class="carousel" id="demo-carousel" style="height:550px">
                <a class="carousel-item" href="#one!">
                    <div class="item-info">
                        <img class="testimonials-img" src="https://images.unsplash.com/photo-1520810627419-35e362c5dc07?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                            alt="">
                        <p class="testimonial">"I mean it's in the company name
                            Doable. I found that everything I need done is
                            doable." </p>
                        <p class="testimonial-name"><b>Mary Green</b></p>
                        <div class="star-rating">
                            <ul class="list-inline">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </ul>
                        </div>
                    </div>
                </a>

                <a class="carousel-item" href="#two!">
                    <div class="item-info">
                        <img class="testimonials-img" src="https://ryanlongdental.com/wp-content/uploads/2013/04/86509403.jpg"
                            alt="">
                        <p class="testimonial">"This was a very simple process. The price for the work was fair. I will
                            definitely use Doable again and I've already recommended Doable to my friends."</p>
                        <p class="testimonial-name"><b>John Smith</b></p>
                        <div class="star-rating">
                            <ul class="list-inline">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </ul>
                        </div>
                    </div>
                </a>
                <a class="carousel-item" href="#three!">
                    <div class="item-info">
                        <img class="testimonials-img" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                            alt="">
                        <p class="testimonial">"Just tried DOABLE for the first time and everything went perfect. Super
                            easy to use, super fast response. I like it and I'll use it again!"</p>
                        <p class="testimonial-name"><b>Kathy Davis</b></p>
                        <div class="star-rating">
                            <ul class="list-inline">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </ul>
                        </div>
                    </div>
                </a>
                <a class="carousel-item" href="#four!">
                    <div class="item-info">
                        <img class="testimonials-img" src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                            alt="">
                        <p class="testimonial">"Just what I was looking
                            for. You guys rock! I'm finally able to get
                            so many errands done at
                            a reasonable price."</p>
                        <p class="testimonial-name"><b>Mark Williams</b></p>
                        <div class="star-rating">
                            <ul class="list-inline">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </ul>
                        </div>
                    </div>
                </a>
                <a class="carousel-item" href="#five!">
                    <div class="item-info">
                        <img class="testimonials-img" src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"
                            alt="">
                        <p class="testimonial">"I had a hard time
                            finding quality work at an affordable
                            price. Now that I use Doable, I have so
                            many amazing options without going
                            broke."</p>
                        <p class="testimonial-name"><b>Chris Brown</b></p>
                        <div class="star-rating">
                            <ul class="list-inline">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
    <div class="video">
        <iframe width="660" height="415" src="https://www.youtube.com/embed/3KQ64VmS-hQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class='arrow'>
        <a href="/"><i class="large material-icons icon-blue">arrow_drop_up</i></a>
    </div>
</section>

<section id="contact">
    <div class="parallax-container">
        <div class="parallax">
            <img src="assets/images/green.jpg" alt="background" />
        </div>
        <div class="iris">
            <div class="card transparent z-depth-5">
                <div class="search">
                    <h1>Contact us</h1>
                    <a href="mailto:ninarosewithers@gmail.com">
                        <i class="far fa-envelope"></i></a>
                    <br>
                    <a href="tel:+1-555-555-1212">
                        <i class="fas fa-phone-square"></i>
                    </a>
                </div>
            </div>
            <div class='arrow'>
                <a href="/"><i class="large material-icons icon-blue">arrow_drop_up</i></a>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>