<section id="user">
    <div class="platform">
        <h2>Welcome {{User.name}}!</h2>

        <!-- Dropdown Trigger -->
        <a class='dropdown-trigger #e8f5e9 green lighten-5 btn' href='#' data-target='dropdown1'>Viewing Options</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!">View as Hirer</a></li>
            <li><a href="#!">View as Doer</a></li>
        </ul>
        <br>
        <hr>
        <br>
        
    </div>
</section>